@import './../../../../assets/styles/mixin.scss';
@import './../../../../assets/styles/variable.scss';

.block__main-building {
  width: 100%;
  background-color: white;
  border: 1px solid whitesmoke;

  .block__info-block__header {
    background-color: $backgroud-color-menu;
    color: white;
    padding: 5px;
    h4 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .block__main-building__image {
    padding: 0;

    .block__info-block__image {
      display: block;
      height: auto;
      width: 100%;
      border: 1px gray solid;
    }
  }

  .col-6 {
    p {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .block__button {
    .button-orange {
      @include button-style(orange);
    }

    .button-green {
      @include button-style(green);
    }

  }

}
