@import './../../../../assets/styles/mixin.scss';

.block__main-building {
  width: 100%;
  background-color: white;
  border: 1px solid whitesmoke;

  .block__info-block__image {
    margin-top: 10px;
    display: block;
    height: 200px;
    width: auto;
    border: 1px black solid;
  }

  .col-6{
    p{
      font-size: 14px;
      font-weight: 700;
    }
  }

  .block__button {
    .button-orange{
      @include button-style(orange);
    }
    .button-green{
      @include button-style(green);
    }

  }

}
