@import './../../../../assets/styles/mixin.scss';
@import './../../../../assets/styles/variable.scss';

.block__info-block {
  height: 100%;
  background-color: white;
  border: 1px solid whitesmoke;

  .block__info-block__header {
    background-color: $backgroud-color-menu;
    color: white;
    padding: 10px 15px 5px;
    min-height: 100px;

    p {
      margin-bottom: 0;
    }
  }

  .block__info-block__image {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px gray solid;
  }

  .block__short-info {
    @include block-details;
  }

  .block__button {
    .button-orange {
      @include button-style(orange);
    }

    .button-green {
      @include button-style(green);
    }
  }
}
