<div class="block__info-block">
  <div class="container">
    <div class="row block__info-block__header">
      <h4 align="center">{{building?.name}}</h4>
      <p>{{building?.address}}, {{building?.district}}</p>
    </div>
    <div class="row">
      <img class="block__info-block__image"
           src="{{building?.mainPhoto?.url}}"
           onError="this.src='./../assets/images/mock_image.png'"
           alt="">
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-main-title">Available to invest</div>
      <div class="col-6 info-main-detail">{{building?.financial?.available_to_invest}}</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Purchase Cost</div>
      <div class="col-6 info-detail">No data</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Min Investment</div>
      <div class="col-6 info-detail">{{building?.financial?.minimum_investment}}</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Investment type</div>
      <div class="col-6 info-detail">{{building?.type}}</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Moratge (LTV)</div>
      <div class="col-6 info-detail">No data</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Holding Period</div>
      <div class="col-6 info-detail">{{building?.financial?.holding_period}}</div>
    </div>
    <div class="row block__short-info">
      <div class="col-6 info-title">Expect return on Equity</div>
      <div class="col-6 info-detail">No data</div>
    </div>

    <div class="block__button">
      <button *ngIf="building?.financial.available_to_invest===0" class="button-orange">MORE DETAILS</button>
      <button *ngIf="building?.financial.available_to_invest>0" class="button-green">PRE-SUBCRIBE</button>
    </div>

  </div>
</div>
