@import './../../../../assets/styles/mixin.scss';

.block__info-block{
  height: auto;
  background-color: white;
  border: 1px solid whitesmoke;
  padding: 10px 0;
  margin-bottom: 10px;

  .block__info-block__image{
    display: block;
    height: 200px;
    width: auto;
    border: 1px black solid;
  }
  .block__button{
    .button-orange{
      @include button-style(orange);
    }
    .button-green{
      @include button-style(green);
    }
  }
}
