<div class="block__navbar">
  <div id="block__title-page" class="d-flex justify-content-start">
    <h4><i class="fa fa-building" aria-hidden="true"></i>{{title}}</h4>
  </div>
  <div class="d-flex justify-content-end">
    <div class="p-2"><a class="" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i></a></div>
    <div class="p-2"><a class="" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></div>
    <div class="p-2"><a class="" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
    <div class="p-2">
      <a class="" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>James Tortis</a>
    </div>
  </div>
</div>
