@import "./../assets/styles/variable";

body {
  font-size: .875rem;
  padding: 0;
}

.block__page {
  display: flex;
  flex-direction: row;
  height: calc(100vh);
  &.row{
    margin: 0;
  }

  #navmenu {
    position: relative;
    display: block;
    background-color: $backgroud-color-menu;
    max-height: 100%;
    &.order-first{
      padding: 0;
    }
  }

  #main-block {
    position: relative;
    display: block;
    padding: 0;
    background-color: $background-body;
  }
}
