@import "./../assets/styles/variable";
@import "./../assets/styles/mixin";


body {
  font-size: .875rem;
  padding: 0;
}

.block__page {
  display: flex;
  flex-direction: row;
  &.row{
    margin: 0;
  }

  #navmenu {
    position: relative;
    display: block;
    background-color: $backgroud-color-menu;
    @include height-menu();
    &.order-first{
      padding: 0;
    }
  }

  #main-block {
    position: relative;
    display: block;
    padding: 0;
    background-color: $background-body;
  }
}
