body {
  font-size: .875rem;
  background-color: lightgrey;
}

.block__page{
  display: flex;
  flex-direction: row;
  #navmenu{
    position: relative;
    top: 70px;
    display: block;
    width: 150px;
  }

  #main-block{
    position: relative;
    top: 70px;
    display: block;
  }
}
