<div class="block__main-manu">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <img class="block__brand-image" src="./../../../../assets/images/logo_brand.jpg" alt="Logo Brand FoxStone">
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/dashboard'">
        <span data-feather="home"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
        Dashboard <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" [routerLink]="'/offerings'">
        <span data-feather="file"><i class="fa fa-building" aria-hidden="true"></i></span>
        Offerings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/transactions'">
        <span data-feather="shopping-cart"><i class="fa fa-exchange" aria-hidden="true"></i></span>
        Transactions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/settings'">
        <span data-feather="users"><i class="fa fa-cogs" aria-hidden="true"></i></span>
        Settings
      </a>
    </li>
  </ul>
</div>


