<div class="block__main-manu" >
  <!--<div class="row">-->
    <!--<nav class="navbar col-md-2 d-md-block bg-light sidebar">-->
      <!--<div class="collapse navbar-collapse">-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="'/dashboard'">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">

            <a class="nav-link" [routerLink]="'/offerings'">
              <span data-feather="file"></span>
              Offerings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/transactions'">
              <span data-feather="shopping-cart"></span>
              Transactions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/settings'">
              <span data-feather="users"></span>
              Settings
            </a>
          </li>
        </ul>
      <!--</div>-->
    <!--</nav>-->
  <!--</div>-->
</div>


