@mixin button-style($color) {
  border-radius: 0 !important;
  border: 0;
  display: block;
  margin: 10px auto;
  background-color: $color;
  color: white;
  padding: 5px 40px;
}

@mixin block-details{
  border-bottom: 1px whitesmoke solid;
  margin: 5px 0;
  .info-main-title{
    padding: 0;
  }
  .info-main-detail{

  }
  .info-title{
    font-weight: bold;
    font-size: 12px;
    padding: 0;
  }
  .info-detail{
    font-size: 12px;
  }
}

@mixin height-menu() {

  @media only screen and (min-width: 845px) {
    min-height: calc(100vh);
    height: auto;
  }

  @media only (max-width: 845px) {
    min-height: calc(30vh);
  }
}


@mixin grid-blocks() {

  @media only screen and (min-width: 845px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
  }

  @media only (max-width: 845px) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
