@import "./../../../assets/styles/mixin";

.container {
  padding: 0;
  .row {
    margin: 0;
    .main-block{
      margin-top: 15px;
    }
    .second-block {
      margin: 15px;
    }
    .block__second-blocks{
      @include grid-blocks();
    }
  }
}

